@font-face {
 font-family: "kanit";
 src: url(fonts/Kanit/Kanit-Regular.ttf);
}
*{
 font-family: "kanit";

}
.btn-primary{
 background-color: #d87739 !important;
 border-color: #d87739 !important;
}
.navbar{
 background: #d87739 !important;
 height: 80px;
 
}
.navbar-brand{
 /* color: #ffdbc9 !important; */
 color: #fff !important;
}
.images-list>img{
 width: 40px;
 height: 40px;
 
 border-radius: 4px;
}
.images-list-selected{
 border:2px solid #d87739;
}
.images-list{
 justify-content: space-around;
}
.card-body{
 /* background: url('./images/1.jpg'); */
 background-size: cover;
background-position: center;
position: relative;
height: 100px;

}
/* .post-content{
  top: 0px;
 left: 0px;
 z-index: 1;
 width: 100%;
 height: 100%;
 position: absolute;
} */
.overlay{
 position: absolute;
 width: 100%;
height: 100%;
 background-color: rgba(0,0,0,0.3);
 top: 0px;
 left:0px;
 z-index: 0;
}
@media only screen and (max-width:500px){
 .main{
  padding: 10px 4px !important;
 }
}
.swal2-confirm{
 background-color: #d87739 !important;
 width: 100% !important;
 
}
.swal2-actions{
 width: 90% !important;

}